body {
  background-color: #16161a;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  color: #fff;
}

code {
  font-size: 17px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.controls-container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 80%;
  height: 30px;
  resize: none;
  background-color: #b8c1ec;
  margin-top: 80px;
  margin-bottom: 10px;
}

#error-msg {
  color: red;
  display: inline;
  margin-left: 10px;
  margin-top: 100px;
}

#sudoku-grid-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 100%;
  font-size: 1.5rem;
}

#sudoku-grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {
  border: 1px solid;
  padding: 0.3em;
}

.yAxisLegend {
  margin-top: 50px;
  text-align: right;
  font-weight: bold;
}

.yAxisLegend tr td {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 2em;
  height: 1.95em;
}

.xAxisLegend {
  border: 3px solid rgba(0, 0, 0, 0);
  border-spacing: 0;
  font-weight: bold;
}

.xAxisLegend tr td {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0;
  padding-top: 0;
}

.xAxisLegend tr td:nth-of-type(3n) {
  border-right: 3px solid rgba(0, 0, 0, 0);
}

.sudoku-input {
  border: 1px solid rgb(141, 141, 141);
  width: 2em;
  height: 2em;
  text-align: center;
}

.sudoku-input:hover {
  background-color: rgb(53, 60, 76, 0.5);
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3,
.A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid;
}

#number-picker {
  display: grid;
  grid-template-columns: repeat(3, 38px);
  grid-template-rows: repeat(3, 38px);
  gap: 45px;
  margin-top: 60px !important;
}

#number-picker .num-btn {
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  background: #b8c1ec;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s, color 0.2s;
}

#number-picker .num-btn:hover {
  background: #bec9ff;
  color: #fff;
}

.buttons-container {
  display: flex;
  margin-top: 100px;
  margin-right: 50px;
  gap: 30px;
}

.buttons-container>* {
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: #eebbc3;
  border: none;
  border-radius: 5px;
}

.buttons-container>*:hover {
  background-color: #ffdde2;
}

#btn-import,
#btn-reset {
  width: 150px;
}

.hidden {
  visibility: hidden;
}

.selected {
  background-color: rgb(81, 84, 92);
}

.highlight {
  background-color: rgba(63, 69, 81, 0.5);
}


@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: center;
  }
}